html, body {
    background: lightgray;
    color: gray();
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: auto;
    margin: 0;
}

.wrapper {
    flex: content;
    width: 100%;
    flex-direction: column;
    display: flex;
    border: black;
    justify-content: center;
}

.wrapper a, a:visited {
    text-decoration: none;
    color: black;
}

.wrapper div {
    justify-content: center;
    text-align: center;
}

.header {
    margin-bottom: 5px;
}

.title {
    padding: 2px;
}

.links {
    flex-direction: row;
    flex: content;
    margin-bottom: 15px;
}

.link-child {
    width: 50px;
}

.links a, a:visited{
    color: darkslategrey;
    font-size: 12px;
    font-kerning: auto;
}

.links a:hover {
    color: green;
    font-size: 13px;
}

.link a:active {
    color: red;
    font-size: 15px;
}

.content {
}