html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 68px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: justify;
}

.links a:hover {
    font-size: 13px;
    color: green;
}

.links a:active {
    font-size: 14px;
    color: red;
}

.m-b-md {
    margin-bottom: 30px;
}

.h1 {
    align: center;
    font-size:50px;
    width: 50%;
    height: 20%;
    margin: 5px 5px 5px 5px;
}

href {

}
