html, body {
    background-color: #fff;
    color: gray();
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: auto;
    margin: 0;
}

.full-height {
    height: auto;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    padding: 20.5vh;
    font-weight: 400;
}

.title a, .title a:visited {
    font-size: 68px;
    text-decoration: none;
    color: #636b6f;
}

.links > a, .links a:visited {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: justify;
}

.links a:hover {
    font-size: 13px;
    color: green;
}

.links a:active {
    font-size: 14px;
    color: red;
}

.m-b-md {
    margin-bottom: 30px;
}

.h1 {
    align: center;
    font-size:50px;
    width: 50%;
    height: 20%;
    margin: 5px 5px 5px 5px;
}

.textStuff {
    width: 60vh;
    height: auto;
    background: lightblue;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ctr1 {
    width: 50vh;
    height: auto;
    align-items: center;
    justify-content: center;
}

.ctr2 {
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px;
    border-color: black;
}

.itm1 {
    width: 800px;
    height: auto;
    align-content: center;
    vertical-align: center;
    padding: 5px;
}

.well {
    min-height: 20px;
    padding: 19px 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: auto;
}

.well a:visited, a {
    text-decoration: none;
    color: darkslategrey;
}